.pl-alert {
    padding: 0.5rem;
    display: flex;
    align-items: center;

    & .pl-alert-icon {
        height: 1rem;
        margin-right: 1rem;
    }

    & .pl-alert-message {
        flex:  1;
    }

    & .pl-alert-close-button {
        flex:  0;
        padding: 0.25rem;
        border: none;
        background: transparent;
        align-self: flex-start;
    }
}

.pl-alert.pl-alert-success {
    background: lightgreen;
    border: green solid 1px;
}

.pl-alert.pl-alert-error {
    background: lightcoral;
    border: red solid 1px;
}
