<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{pattern-library/layout.html}">
<head>
  <title th:text="${title}"></title>
</head>
<body>
<th:block layout:fragment="content">
  <!--/*@thymesVar id="componentGroup" type="personal.cstettler.thymeleaf.patternlibrary.ComponentGroup"*/-->
  <!--/*@thymesVar id="showCase" type="personal.cstettler.thymeleaf.patternlibrary.ComponentGroup$ShowCase"*/-->

  <h1 th:text="${componentGroup.name != null ? componentGroup.name : applicationName}"></h1>
  <th:block th:if="${componentGroup.hasDocumentation()}" th:utext="${componentGroup.documentationContent}"></th:block>

  <th:block th:if="${componentGroup.hasExample()}">
    <iframe th:src="${#mvc.url('PLC#example').arg(0, componentGroup.name).arg(1, componentGroup.examplePath).build()}"></iframe>
    <pre th:text="${componentGroup.exampleContent}"></pre>
  </th:block>

  <div th:each="showCase : ${componentGroup.showCases}">
    <h2 th:text="${showCase.name}"></h2>
    <th:block th:if="${showCase.hasDocumentation()}" th:utext="${showCase.documentation}"></th:block>

    <iframe th:src="${#mvc.url('PLC#example').arg(0, showCase.name).arg(1, showCase.id).build()}"></iframe>

    <pre th:text="${showCase.example}"></pre>
  </div>
</th:block>
</body>
</html>