<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}"></title>

  <link th:href="@{/pl/poc-thymeleaf-pattern-library-components.css}" rel="stylesheet">
  <style>
      body {
          padding: 0;
          margin: 0;
      }
  </style>

  <script type="module" th:src="@{/pl/poc-thymeleaf-pattern-library-components.js}"></script>
  <script type="module">
    import { registerGlobals, registerStimulusControllers, StimulusApplication } from "[[@{/pl/poc-thymeleaf-pattern-library-components.js}]]";

    registerGlobals(window);
    registerStimulusControllers(StimulusApplication.start());
  </script>
</head>
<body>
<th:block th:replace="~{${'components' + templatePath}}"></th:block>
</body>
</html>