<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>Pattern Library</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link th:href="@{/pattern-library.css}" rel="stylesheet">
  <script type="module" th:src="@{/pattern-library.js}"></script>
</head>
<body>
<nav>
  <th:block th:replace="pattern-library/navigation::navigation (${applicationName}, ${rootComponentGroup})"/>
</nav>
<main>
  <th:block layout:fragment="content"/>
</main>
</body>
</html>
