<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>Pattern Library</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link th:href="@{/pattern-library.css}" rel="stylesheet">
  <script type="module" th:src="@{/pattern-library.js}"></script>
</head>
<body>
<!--/*@thymesVar id="applicationName" type="java.lang.String"*/-->

<div class="container">
  <header>
    <a th:href="${#mvc.url('PLC#index').build()}" th:text="${applicationName}"></a>
  </header>

  <main>
    <nav>
      <th:block th:replace="pattern-library/navigation::navigation (${rootComponentGroup})"/>
    </nav>

    <section>
      <th:block layout:fragment="content"/>
    </section>
  </main>
</div>

<script th:src="${'http://localhost:' + @environment.getProperty('spring.devtools.livereload.port') + '/livereload.js?snipver=1'}"></script>
</body>
</html>
