<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="navigation (rootComponentGroup)">
  <!--/*@thymesVar id="rootComponentGroup" type="personal.cstettler.thymeleaf.patternlibrary.ComponentGroup"*/-->

  <ul>
    <th:block th:replace="~{pattern-library/navigation :: navigation-level (${rootComponentGroup.subGroups})}"/>
  </ul>
</th:block>

<th:block th:fragment="navigation-level (componentGroups)">
  <!--/*@thymesVar id="componentGroup" type="personal.cstettler.thymeleaf.patternlibrary.ComponentGroup"*/-->

  <li th:each="componentGroup : ${componentGroups}">
    <th:block>
      <a th:href="${#mvc.url('PLC#index').arg(0, componentGroup.id).build()}" th:text="${componentGroup.name}"></a>
    </th:block>

    <th:block th:if="${componentGroup.hasSubGroups()}">
      <ul>
        <th:block th:replace="~{pattern-library/navigation :: navigation-level (${componentGroup.subGroups})}"/>
      </ul>
    </th:block>
  </li>
</th:block>
</body>
</html>